@font-face {
    font-family: ZhuZiAYuanJWD;
    src: url(https://npm.elemecdn.com/anzhiyu-blog@1.1.6/fonts/ZhuZiAWan.woff2);
    font-display: swap;
    font-weight: lighter;
}

div#menus {
    font-family: "ZhuZiAYuanJWD";
}

h1#site-title {
    font-family: ZhuZiAYuanJWD;
    font-size: 3em !important;
}

a.article-title,
a.blog-slider__title,
a.categoryBar-list-link,
h1.post-title {
    font-family: ZhuZiAYuanJWD;
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 3em;
    /* 可以定义图标大小 */
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-zhongbiao::before {
    color: #f7c768;
}


/* bilibli番剧插件 */

#article-container .bangumi-tab.bangumi-active {
    background: var(--anzhiyu-theme);
    color: var(--anzhiyu-ahoverbg);
    border-radius: 10px;
}

a.bangumi-tab:hover {
    text-decoration: none !important;
}

.bangumi-button:hover {
    background: var(--anzhiyu-theme) !important;
    border-radius: 10px !important;
    color: var(--anzhiyu-ahoverbg) !important;
}

a.bangumi-button.bangumi-nextpage:hover {
    text-decoration: none !important;
}

.bangumi-button {
    padding: 5px 10px !important;
}

a.bangumi-tab {
    padding: 5px 10px !important;
}

svg.icon.faa-tada {
    font-size: 1.1em;
}

.bangumi-info-item {
    border-right: 1px solid #f2b94b;
}

.bangumi-info-item span {
    color: #f2b94b;
}

.bangumi-info-item em {
    color: #f2b94b;
}


/* 解决artitalk的图标问题 */

#uploadSource>svg {
    width: 1.19em;
    height: 1.5em;
}


/*top-img黑色透明玻璃效果移除，不建议加，除非你执着于完全一图流或者背景图对比色明显 */

#page-header:not(.not-top-img):before {
    background-color: transparent !important;
}


/* 页脚透明 */

#footer {
    /* background: transparent !important; */
    background: rgba(196, 196, 196, 0.3);
}


/* 头图透明 */

#page-header {
    /* background: transparent !important; */
    background: rgba(196, 196, 196, 0.3);
}

#rightside>div>button {
    border-radius: 5px;
}


/* 首页文章卡片 */

#recent-posts>.recent-post-item {
    background: rgba(255, 255, 255, 0.8);
}


/* 所有页面背景 */

#aside_content .card-widget,
#recent-posts>.recent-post-item,
.layout_page>div:first-child:not(.recent-posts),
.layout_post>#page,
.layout_post>#post,
.read-mode .layout_post>#post {
    /* 以下代表透明度为0.5 */
    background: rgba(255, 255, 255, .7);
}


/* 顶部导航栏 */

#nav a {
    color: #000000;
}


/* 首页侧栏卡片 */

#aside-content .card-widget {
    background: rgba(255, 255, 255, 0.7);
}


/*说说、  侧边卡片的透明度 */

:root {
    --card-bg: rgba(255, 255, 255, .7);
}


/* 文章页面正文背景 */

div#post {
    background: rgba(255, 255, 255, 0.8);
}


/* 分页页面 */

div#page {
    background: rgba(255, 255, 255, 0.8);
}


/* 归档页面 */

div#archive {
    background: rgba(255, 255, 255, 0.8);
}


/* 标签页面 */

div#tag {
    background: rgba(255, 255, 255, 0.8);
}


/* 分类页面 */

div#category {
    background: rgba(255, 255, 255, 0.8);
}


/*夜间模式伪类遮罩层透明*/

[data-theme="dark"] #recent-posts>.recent-post-item {
    background: #121212;
}

[data-theme="dark"] .card-widget {
    background: #121212 !important;
}

[data-theme="dark"] div#post {
    background: #121212 !important;
}

[data-theme="dark"] div#tag {
    background: #121212 !important;
}

[data-theme="dark"] div#archive {
    background: #121212 !important;
}

[data-theme="dark"] div#page {
    background: #121212 !important;
}

[data-theme="dark"] div#category {
    background: #121212 !important;
}

[data-theme="dark"] div#category {
    background: transparent !important;
}


/* 音乐播放器 */


/* .aplayer .aplayer-lrc {
    display: none !important;
  } */

.aplayer.aplayer-fixed.aplayer-narrow .aplayer-body {
    left: -66px !important;
    transition: all 0.3s;
    /* 默认情况下缩进左侧66px，只留一点箭头部分 */
}

.aplayer.aplayer-fixed.aplayer-narrow .aplayer-body:hover {
    left: 0 !important;
    transition: all 0.3s;
    /* 鼠标悬停是左侧缩进归零，完全显示按钮 */
}

.aplayer.aplayer-fixed {
    z-index: 999999 !important;
}


/* 评论框  */

.vwrap {
    box-shadow: 2px 2px 5px #bbb;
    background: rgba(255, 255, 255, 0.7);
    border-radius: 8px;
    padding: 30px;
    margin: 30px 0px 30px 0px;
}


/* 设置评论框 */

.vcard {
    box-shadow: 2px 2px 5px #bbb;
    background: rgba(255, 255, 255, 0.7);
    border-radius: 8px;
    padding: 30px;
    margin: 30px 0px 0px 0px;
}


/* md网站下划线 */

#article-container a:hover {
    text-decoration: none !important;
}

#article-container #hpp_talk p img {
    display: inline;
}


/* 404页面 */

#error-wrap {
    position: absolute;
    top: 40%;
    right: 0;
    left: 0;
    margin: 0 auto;
    padding: 0 1rem;
    max-width: 1000px;
    transform: translate(0, -50%);
}

#error-wrap .error-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0 1rem;
    height: 18rem;
    border-radius: 8px;
    background: var(--card-bg);
    box-shadow: var(--card-box-shadow);
    transition: all 0.3s;
}

#error-wrap .error-content .error-img {
    box-flex: 1;
    flex: 1;
    height: 100%;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    background-color: #3b70fc;
    background-position: center;
    background-size: cover;
}

#error-wrap .error-content .error-info {
    box-flex: 1;
    flex: 1;
    padding: 0.5rem;
    text-align: center;
    font-size: 14px;
    font-family: Titillium Web, "PingFang SC", "Hiragino Sans GB", "Microsoft JhengHei", "Microsoft YaHei", sans-serif;
}

#error-wrap .error-content .error-info .error_title {
    margin-top: -4rem;
    font-size: 9em;
}

#error-wrap .error-content .error-info .error_subtitle {
    margin-top: -3.5rem;
    word-break: break-word;
    font-size: 1.6em;
}

#error-wrap .error-content .error-info a {
    display: inline-block;
    margin-top: 0.5rem;
    padding: 0.3rem 1.5rem;
    background: var(--btn-bg);
    color: var(--btn-color);
}

#body-wrap.error .aside-list {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    bottom: 0px;
    position: absolute;
    padding: 1rem;
    width: 100%;
    overflow: scroll;
}

#body-wrap.error .aside-list .aside-list-group {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    max-width: 1200px;
    margin: 0 auto;
}

#body-wrap.error .aside-list .aside-list-item {
    padding: 0.5rem;
}

#body-wrap.error .aside-list .aside-list-item img {
    width: 100%;
    object-fit: cover;
    border-radius: 12px;
}

#body-wrap.error .aside-list .aside-list-item .thumbnail {
    overflow: hidden;
    width: 230px;
    height: 143px;
    background: var(--anzhiyu-card-bg);
    display: flex;
}

#body-wrap.error .aside-list .aside-list-item .content .title {
    -webkit-line-clamp: 2;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    line-height: 1.5;
    justify-content: center;
    align-items: flex-end;
    align-content: center;
    padding-top: 0.5rem;
    color: white;
}

#body-wrap.error .aside-list .aside-list-item .content time {
    display: none;
}


/* 代码框主题 */

#article-container figure.highlight {
    border-radius: 10px;
}


/* 博主昵称颜色 --也就是首页侧边栏头像下面那个昵称*/


/* .author-info__name {
    color: #ff8000;
} */


/*页脚自定义字段字体颜色,也就是配置文件里的footer_custom_text*/

.footer_custom_text {
    color: #fefefe;
}


/* 滚动条 */

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

 ::-webkit-scrollbar-track {
    background-color: rgba(250, 250, 251, 0.2);
    border-radius: 2em;
}

 ::-webkit-scrollbar-thumb {
    background-color: #49b1f5;
    background-image: -webkit-linear-gradient( 45deg, rgba(255, 255, 255, 0.4) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.4) 50%, rgba(255, 255, 255, 0.4) 75%, transparent 75%, transparent);
    border-radius: 2em;
}

 ::-webkit-scrollbar-corner {
    background-color: transparent;
}

 ::-moz-selection {
    color: #fff;
    background-color: #49b1f5;
}


/* a标签默认颜色 */

#article-container a {
    color: #00c4b6;
    text-decoration: none;
}


/*a标签颜色*/

a {
    color: #00c4b6;
}


/* 鼠标悬停时的颜色 */

#article-container a:hover {
    color: #e58a8a;
}


/* 翻页按钮居中 */

#pagination {
    width: 100%;
    margin: auto;
}


/* 头像卡片背景 */


/*白天主题下的配置*/

#aside-content>.card-widget.card-info {
    /*换成自己图片的地址*/
    background-image: url('');
    background-repeat: no-repeat;
    background-attachment: inherit;
    background-size: 100%
}


/*黑暗主题下的配置*/

[data-theme=dark] #aside-content>.card-widget.card-info {
    /*换成自己图片的地址*/
    background-image: url('') !important
}


/* 头像卡片背景END */


/* 公众号 Start */

[data-theme='light'] #aside-content .card-widget#card-wechat {
    background: #ffffff(255, 255, 255, .6) !important;
}

#aside-content .card-widget#card-wechat {
    background: var(--card-bg);
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 0;
    cursor: pointer !important;
    border: none;
    height: 110px;
}


/* 如果你设置了aside 的 mobile 为 false，记得放开下面这段注释；
   如果你设置了aside 的 mobile 为 true ，不需要改动。 */


/* @media screen and (max-width: 768px) {
    #aside-content .card-widget#card-wechat {
        display: none !important;
    }
} */

@media screen and (min-width: 1300px) {
    #aside-content .card-widget {
        margin-top: 1rem;
    }
}

#flip-wrapper {
    -webkit-perspective: 1000;
    perspective: 1000;
    position: relative;
    width: 235px;
    height: 110px;
    z-index: 1;
}

#flip-wrapper:hover #flip-content {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

#flip-content {
    width: 100%;
    height: 100%;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    transition: cubic-bezier(0, 0, 0, 1.29) 0.3s;
}

.face {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    background: url(/img/cbgzh1.png) center center no-repeat;
    background-size: 100%;
}

.back.face {
    display: block;
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
    box-sizing: border-box;
    background: url(/img/cbgzh2.png) center center no-repeat;
    background-size: 100%;
}


/* 公众号 End */


/*诗、每日一言*/

.poem-wrap {
    position: relative;
    width: 730px;
    max-width: 80%;
    border: 2px solid #797979;
    border-top: none;
    text-align: center;
    margin: 80px auto;
}

.poem-wrap h1 {
    font-size: 30px;
    position: relative;
    margin-top: -20px;
    display: inline-block;
    letter-spacing: 4px;
    color: #797979;
}

.poem-wrap p {
    width: 70%;
    margin: auto;
    line-height: 30px;
    color: #797979;
}

.poem-wrap p#poem {
    font-size: 25px;
}

.poem-wrap p#info {
    font-size: 15px;
    margin: 15px auto;
}

.poem-border {
    position: absolute;
    height: 2px;
    width: 27%;
    background-color: #797979;
}

.poem-right {
    right: 0;
}

.poem-left {
    left: 0;
}

@media (max-width: 685px) {
    .poem-border {
        width: 18%;
    }
}

@media (max-width: 500px) {
    .poem-wrap {
        margin-top: 60px;
        margin-bottom: 20px;
        border-top: 2px solid #797979;
    }
    .poem-wrap h1 {
        margin: 20px 6px;
    }
    .poem-border {
        display: none;
    }
}


/*移动端优化：去除归档、标签、最新文章、公告、、只保留网站统计*/

@media screen and (max-width: 800px) {
    #aside_content div:not(:last-child) {
        display: none;
        font-size: 13px;
    }
}


/* 欢迎信息 */

#welcome-info {
    /* background: linear-gradient(45deg, #fbfbfb, #fafbfb); */
    background: rgba(255, 255, 255, 0.6);
    border-radius: 18px;
    padding: 8px;
}

[data-theme="dark"] #welcome-info {
    background: #212121;
}


/* #加载动画*/

.loading-img {
    background: url() no-repeat center center;
    background-size: cover;
}


/* 头像呼吸灯 */

[data-theme="light"] .avatar-img {
    animation: huxi_light 4s ease-in-out infinite;
}

[data-theme="dark"] .avatar-img {
    animation: huxi_dark 4s ease-in-out infinite;
}

@keyframes huxi_light {
    0% {
        box-shadow: 0px 0px 1px 1px #e9f5fa;
    }
    50% {
        box-shadow: 0px 0px 5px 5px #e9f5fa;
    }
    100% {
        box-shadow: 0px 0px 1px 1px #e9f5fa;
    }
}

@keyframes huxi_dark {
    0% {
        box-shadow: 0px 0px 1px 1px #39c5bb;
    }
    50% {
        box-shadow: 0px 0px 5px 5px #39c5bb;
    }
    100% {
        box-shadow: 0px 0px 1px 1px #39c5bb;
    }
}


/* 一级菜单居中 */

#nav .menus_items {
    position: absolute !important;
    width: fit-content !important;
    left: 50% !important;
    transform: translateX(-50%) !important;
}


/* 子菜单横向展示 */


/* #nav .menus_items .menus_item:hover .menus_item_child {
    display: flex !important;
} */


/* 这里的2是代表导航栏的第2个元素，即有子菜单的元素，可以按自己需求修改 */


/* .menus_items .menus_item:nth-child(2) .menus_item_child {
    left: -125px;
} */


/* 空间说说   maintop */

div#main_top {
    z-index: 1;
    max-width: 1200px;
    margin: 20px auto -15px;
    width: 100%;
    padding: 0 15px;
}

@media screen and (min-width: 2000px) {
    div#main_top {
        max-width: 1500px;
    }
}

#bber-talk {
    border-radius: 12px;
    box-shadow: none;
    border: 1px solid #ffffff;
    box-sizing: border-box;
    transition: all .3s ease-in-out;
    cursor: pointer;
    width: 100%;
    min-height: 50px;
    background: var(--card-bg);
    padding: .5rem 1rem;
    display: flex;
    align-items: center;
    overflow: hidden;
    font-weight: 700;
}

#bber-talk:hover {
    border-color: #49b1f5;
    box-shadow: none;
}

#bber-talk,
#bber-talk a {
    color: var(--font-color);
}

#bber-talk svg.icon {
    width: 1em;
    height: 1em;
    vertical-align: -.15em;
    fill: currentColor;
    overflow: hidden;
    font-size: 20px;
}

#bber-talk .item i {
    margin-left: 5px;
}

#bber-talk>i {
    font-size: 1.1rem;
}

#bber-talk .talk-list {
    flex: 1;
    max-height: 32px;
    font-size: 16px;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

#bber-talk .talk-list :hover {
    color: #49b1f5 !important;
    transition: all .2s ease-in-out;
}

#bber-talk .talk-list li {
    list-style: none;
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-left: 10px;
}

@media screen and (min-width: 768px) {
    #bber-talk .talk-list {
        text-align: center;
        margin-right: 20px;
    }
}


/* 背景宇宙星光  */

#universe {
    display: block;
    position: fixed;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    /* 这个是调置顶的优先级的，-1在文章页下面，背景上面，个人推荐这种 */
    z-index: -1;
}


/* tzy页脚样式 */

#ft {
    max-width: 1200px;
    margin: 0 auto 12px;
    display: flex;
    color: rgb(255 255 255 / 80%) !important;
    text-align: left;
    flex-wrap: wrap;
}

.ft-item-1,
.ft-item-2 {
    display: flex;
    height: 100%;
    padding: 2px 14px;
}

.ft-item-1 {
    flex-direction: column;
    flex: 2;
}

.ft-item-2 {
    flex: 1;
    flex-direction: column;
}

.t-top {
    display: flex;
}

.t-top .t-t-l {
    display: flex;
    flex-direction: column;
    flex: 1.4;
    margin-right: 10px;
}

.t-top .t-t-l .bg-ad {
    width: 85%;
    border-radius: 10px;
    padding: 0 10px;
}

.btn-xz-box {
    margin-top: 10px;
}


/* 按钮背景颜色等 */

.btn-xz {
    display: block;
    background-color: var(--btn-bg);
    color: var(--btn-color);
    text-align: center;
    line-height: 2.4;
    margin: 8px 0;
}

.btn-xz:hover {
    text-decoration: none !important;
}


/* 按钮悬浮颜色 */

.btn-xz-box:hover .btn-xz {
    background-color: var(--text-bg-hover);
}

.t-top .t-t-r {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.ft-links {
    padding: 0 14px;
    list-style: none;
    margin-top: 0 !important;
}

.ft-links li a {
    display: inline-block !important;
    width: 50%;
}


/* 链接悬浮颜色 */

.ft-links li a:hover {
    text-decoration: none !important;
    color: var(--theme-color) !important;
}

.ft-item-2 .ft-img-group {
    width: 100%;
}

.ft-t {
    font-size: 1.1rem;
    margin-bottom: 20px;
    line-height: 1;
    font-weight: 600;
}

.t-l-t {
    padding-left: 14px;
}

.ft-item-2 .ft-img-group .img-group-item {
    display: inline-block;
    width: 18.4%;
    margin-right: 14px;
    margin-bottom: 6px;
}

.ft-item-2 .ft-img-group .img-group-item a {
    display: inline-block;
    width: 100%;
    height: 100%;
}

.ft-item-2 .ft-img-group .img-group-item a img {
    width: 100%;
    max-height: 80px;
    border-radius: 10px;
}


/* 头像悬浮颜色框 */

.ft-item-2 .ft-img-group .img-group-item a img:hover {
    border: 2px solid var(--theme-color);
}

@media screen and (max-width: 768px) {
    .ft-item-1 {
        flex-basis: 100% !important;
    }
    .ft-item-2 {
        flex-basis: 100% !important;
    }
    .t-top .t-t-l .bg-ad {
        width: 100%;
    }
}

@media screen and (max-width: 576px) {
    .t-top {
        flex-wrap: wrap;
    }
    .t-top .t-t-l {
        flex-basis: 100% !important;
    }
    .t-top .t-t-r {
        margin-top: 16px;
        flex-basis: 100% !important;
    }
}

#footer-wrap a {
    border-radius: 30px;
}

#footer-wrap {
    padding: 20px 20px;
}


/* 页脚心跳动画 */

#heartbeat {
    color: red;
    animation: iconAnimate 1s ease-in-out infinite;
}

@-moz-keyframes iconAnimate {
    0%,
    100% {
        transform: scale(1);
    }
    10%,
    30% {
        transform: scale(0.9);
    }
    20%,
    40%,
    60%,
    80% {
        transform: scale(1.1);
    }
    50%,
    70% {
        transform: scale(1.1);
    }
}

@-webkit-keyframes iconAnimate {
    0%,
    100% {
        transform: scale(1);
    }
    10%,
    30% {
        transform: scale(0.9);
    }
    20%,
    40%,
    60%,
    80% {
        transform: scale(1.1);
    }
    50%,
    70% {
        transform: scale(1.1);
    }
}

@-o-keyframes iconAnimate {
    0%,
    100% {
        transform: scale(1);
    }
    10%,
    30% {
        transform: scale(0.9);
    }
    20%,
    40%,
    60%,
    80% {
        transform: scale(1.1);
    }
    50%,
    70% {
        transform: scale(1.1);
    }
}

@keyframes iconAnimate {
    0%,
    100% {
        transform: scale(1);
    }
    10%,
    30% {
        transform: scale(0.9);
    }
    20%,
    40%,
    60%,
    80% {
        transform: scale(1.1);
    }
    50%,
    70% {
        transform: scale(1.1);
    }
}


/* 返回顶部*/

button#go-up #percent {
    display: none;
    font-weight: bold;
    font-size: 15px !important;
}

button#go-up span {
    font-size: 12px!important;
    margin-right: -1px;
}


/* 鼠标滑动到按钮上时显示返回顶部图标 */

button#go-up:hover i {
    display: block !important;
}

button#go-up:hover #percent {
    display: none !important;
}


/* 文章显示百分比END */


/* 页面宽度修改*/

.layout {
    max-width: 1200px;
}

.layout.hide-aside {
    max-width: 1200px;
}


/* .aside-content {
    max-width: 312px;
    min-width: 300px;
} */


/* 页面宽度修改END */


/* 留言板弹幕热评 */

#comment-barrage {
    display: block;
    position: fixed;
    z-index: 1;
    font-size: 100%;
    bottom: 1rem;
    right: 2rem;
    width: 306px;
    height: 150px;
    overflow: hidden;
}

@media screen and (max-width: 900px) {
    #comment-barrage {
        display: none !important;
    }
}

#comment-barrage .comment-barrage-item {
    opacity: 0;
    width: 300px;
    height: fit-content;
    max-height: 144px;
    padding: 10px;
    position: absolute;
    margin: 0 3px;
    bottom: 5px;
    background: var(--card-bg);
    border: var(--card-border);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

#comment-barrage .swiper-slide-active .comment-barrage-item {
    opacity: 1;
}

#comment-barrage .comment-barrage-item:hover {
    border-color: var(--main) !important;
    box-shadow: var(--main-shadow) !important;
}

.barrage-info {
    overflow: hidden;
    font-size: 90%;
    height: 35px;
    border-bottom: var(--card-border-dashed);
}

.barrage-info span {
    margin: 0 .2em;
    vertical-align: middle;
}

.barrage-title {
    font-weight: bold;
    padding: .3em 0.5em;
    background: var(--font-color);
    color: var(--card-bg);
    margin-right: .5em;
    border-radius: .5em;
    vertical-align: middle;
}

.barrage-title:hover {
    color: var(--second);
    background: var(--main);
}

.barrage-avatar {
    height: 2em;
    width: 2em;
    border-radius: 50%;
    vertical-align: middle;
}

.barrage-nick {
    font-weight: bold;
}

.barrage-close {
    position: absolute;
    top: 0;
    right: 10px;
}

.barrage-content {
    padding-top: 5px;
    max-height: 95px;
    height: fit-content;
    overflow-y: scroll;
    text-align: justify;
    word-break: break-all;
}

.barrage-content a {
    color: var(--font-color);
}

.barrage-content a:hover {
    color: var(--theme-color);
}

.barrage-content p {
    margin: 0;
}

.barrage-content img {
    width: 3em;
}


/* 留言板弹幕热评END */


/* 右下角切换背景 */


/* 由于全屏会出bug，所以直接给他隐藏 */

.winbox {
    border-radius: 12px;
    overflow: hidden;
}

.wb-full {
    display: none;
}

.wb-min {
    background-position: center;
}

[data-theme='dark'] .wb-body,
[data-theme='dark'] #changeBgBox {
    background: #333 !important;
}

.bgbox {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.pimgbox,
.imgbox,
.box {
    width: 166px;
    margin: 10px;
    background-size: cover
}

.pimgbox,
.imgbox {
    border-radius: 10px;
    overflow: hidden;
}

.pimgbox {
    height: 240px;
}

.imgbox {
    height: 95px;
}

.box {
    height: 100px;
}

@media screen and (max-width: 768px) {
    /* 背景 */
    .pimgbox,
    .imgbox,
    .box {
        height: 73px;
        width: 135px;
    }
    .pimgbox {
        height: 205px;
    }
    /* 2.0新增内容 */
    .wb-min {
        display: none;
    }
    #changeBgBox .wb-body::-webkit-scrollbar {
        display: none;
    }
}


/* 右下角切换背景END */


/* 评论添加一个输入提醒 */


/* 设置文字内容 :nth-child(1)的作用是选择第几个 */

.el-input.el-input--small.el-input-group.el-input-group--prepend:nth-child(1):before {
    content: '输入QQ号会自动获取昵称和头像🐧';
}

.el-input.el-input--small.el-input-group.el-input-group--prepend:nth-child(2):before {
    content: '收到回复将会发送到您的邮箱📧';
}

.el-input.el-input--small.el-input-group.el-input-group--prepend:nth-child(3):before {
    content: '可以通过昵称访问您的网站🔗';
}


/* 当用户点击输入框时显示 */

.el-input.el-input--small.el-input-group.el-input-group--prepend:focus-within::before,
.el-input.el-input--small.el-input-group.el-input-group--prepend:focus-within::after {
    display: block;
}


/* 主内容区 */

.el-input.el-input--small.el-input-group.el-input-group--prepend::before {
    /* 先隐藏起来 */
    display: none;
    /* 绝对定位 */
    position: absolute;
    /* 向上移动60像素 */
    top: -60px;
    /* 文字强制不换行，防止left:50%导致的文字换行 */
    white-space: nowrap;
    /* 圆角 */
    border-radius: 10px;
    /* 距离左边50% */
    left: 50%;
    /* 然后再向左边挪动自身的一半，即可实现居中 */
    transform: translate(-50%);
    /* 填充 */
    padding: 14px 18px;
    background: #444;
    color: #fff;
}


/* 小角标 */

.el-input.el-input--small.el-input-group.el-input-group--prepend::after {
    display: none;
    content: '';
    position: absolute;
    /* 内容大小（宽高）为0且边框大小不为0的情况下，每一条边（4个边）都是一个三角形，组成一个正方形。
    我们先将所有边框透明，再给其中的一条边添加颜色就可以实现小三角图标 */
    border: 12px solid transparent;
    border-top-color: #444;
    left: 50%;
    transform: translate(-50%, -48px);
}


/* 评论添加一个输入提醒END */