.mm-no-result { display: flex; -webkit-box-pack: center; justify-content: center; -webkit-box-align: center; align-items: center; width: 100%; height: 100%; }
.mm-no-result-text { margin-top: 30px; font-size: 14px; color: rgba(255, 255, 255, 0.6); }
.list-header[data-v-0747800e] { border-bottom: 1px solid rgba(255, 255, 255, 0.8); color: rgb(255, 255, 255); }
.list-header .list-name[data-v-0747800e] { padding-left: 40px; user-select: none; }
.list-content[data-v-0747800e] { width: 100%; height: calc(100% - 60px); overflow: hidden auto; }
.list-no[data-v-0747800e] { -webkit-box-pack: center; justify-content: center; -webkit-box-align: center; align-items: center; height: 100%; color: rgba(255, 255, 255, 0.6); }
.list-item[data-v-0747800e], .list-no[data-v-0747800e] { display: flex; width: 100%; }
.list-item[data-v-0747800e] { height: 50px; border-bottom: 1px solid rgba(255, 255, 255, 0.1); line-height: 50px; overflow: hidden; }
.list-item.list-item-no[data-v-0747800e] { -webkit-box-pack: center; justify-content: center; -webkit-box-align: center; align-items: center; }
.list-item.on[data-v-0747800e] { color: rgb(255, 255, 255); }
.list-item.on .list-num[data-v-0747800e] { font-size: 0px; background: url("data:image/gif;base64,R0lGODlhCgAKAIABAP///////yH/C05FVFNDQVBFMi4wAwEAAAAh+QQJBAABACwAAAAACgAKAAACEIyPqcsM4GB4iM4nLc5c8wIAIfkECQQAAQAsAAAAAAoACgAAAhGMj6mrAOxMPNPVFyy+V1rvFQAh+QQJBAABACwAAAAACgAKAAACE4yPqQew0UxkDrY6L96Zb3mBYAEAIfkECQQAAQAsAAAAAAoACgAAAhSMjwiQt/YcCyvaCmfV/GZPYWFWAAAh+QQJBAABACwAAAAACgAKAAACFIyPeQDIxl6QsU1bIY5a0/15m1YAACH5BAkEAAEALAAAAAAKAAoAAAIUjI+ZAMpsYHhtVhrvy1n6bXVaVgAAIfkECQQAAQAsAAAAAAoACgAAAhOMjwCYy6aeioFOZyfEuvK8gV4BACH5BAkEAAEALAAAAAAKAAoAAAISjI+ZAGrsAlysSVuxnry+rX0FACH5BAkEAAEALAAAAAAKAAoAAAIRjI+pawDs4EsuBlsnrk3z6xUAIfkECQQAAQAsAAAAAAoACgAAAhCMj6nLCMBehOnJcC3N1vACACH5BAkEAAEALAAAAAAKAAoAAAIPjI+py50AGJTxwTrDxbwAACH5BAkEAAEALAAAAAAKAAoAAAIPjI+py+0JAIuGHoujDLkAACH5BAkEAAEALAAAAAAKAAoAAAIQjI+py+0NAIqGhmgzrvKCAgAh+QQJBAABACwAAAAACgAKAAACD4yPqcvdABg081R4Y8A6FwA7LyogIHx4R3YwMHxkNDJiOTgyYzhjM2YwYWExNzcxNDk4OTU2ZjY3ODc0MSAqLw==") 50% center no-repeat; }
.list-item:hover .list-name[data-v-0747800e] { padding-right: 80px; }
.list-item:hover .list-name .list-menu[data-v-0747800e] { display: block; }
.list-item:not([class*="list-header"]):hover .list-name[data-v-0747800e] { padding-right: 80px; }
.list-item:not([class*="list-header"]):hover .list-name .list-menu[data-v-0747800e] { display: block; }
.list-item:not([class*="list-header"]):hover .list-time[data-v-0747800e] { font-size: 0px; }
.list-item:not([class*="list-header"]):hover .list-time .list-menu-icon-del[data-v-0747800e] { display: block; }
.list-item .list-num[data-v-0747800e] { display: block; width: 30px; margin-right: 10px; text-align: center; }
.list-item .list-name[data-v-0747800e] { position: relative; -webkit-box-flex: 1; flex: 1 1 0%; box-sizing: border-box; }
.list-item .list-name > span[data-v-0747800e] { text-overflow: ellipsis; overflow: hidden; display: -webkit-box; -webkit-line-clamp: 1; -webkit-box-orient: vertical; }
.list-item .list-name small[data-v-0747800e] { margin-left: 5px; font-size: 12px; color: rgba(255, 255, 255, 0.5); }
.list-item .list-name .list-menu[data-v-0747800e] { display: none; position: absolute; top: 50%; right: 10px; height: 40px; font-size: 0px; transform: translateY(-50%); }
.list-item .list-album[data-v-0747800e], .list-item .list-artist[data-v-0747800e] { display: block; width: 300px; text-overflow: ellipsis; overflow: hidden; white-space: nowrap; }
@media (max-width: 1440px) {
  .list-item .list-album[data-v-0747800e], .list-item .list-artist[data-v-0747800e] { width: 200px; }
}
@media (max-width: 1200px) {
  .list-item .list-album[data-v-0747800e], .list-item .list-artist[data-v-0747800e] { width: 150px; }
}
.list-item .list-time[data-v-0747800e] { display: block; width: 60px; position: relative; }
.list-item .list-time .list-menu-icon-del[data-v-0747800e] { display: none; position: absolute; top: 50%; left: 0px; transform: translateY(-50%); }
@media (max-width: 960px) {
  .list-item .list-name[data-v-0747800e] { padding-right: 70px; }
}
@media (max-width: 768px) {
  .list-item .list-name .list-menu[data-v-0747800e] { display: block; }
  .list-item .list-album[data-v-0747800e], .list-item .list-artist[data-v-0747800e] { width: 20%; }
}
@media (max-width: 640px) {
  .list-item .list-artist[data-v-0747800e] { width: 80px; }
  .list-item .list-album[data-v-0747800e], .list-item .list-time[data-v-0747800e] { display: none; }
}
.historyList .musicList[data-v-6da1ee64], .historyList[data-v-6da1ee64] { width: 100%; height: 100%; }
.historyList .musicList .list-btn[data-v-6da1ee64] { display: flex; -webkit-box-pack: center; justify-content: center; -webkit-box-align: center; align-items: center; height: 50px; }
.historyList .musicList .list-btn span[data-v-6da1ee64] { padding: 5px 20px; cursor: pointer; user-select: none; }
.historyList .musicList .list-btn span[data-v-6da1ee64]:hover { color: rgb(255, 255, 255); }
